DEBUG=True
SECRET_KEY=change-me
DB_ENGINE=django.db.backends.postgresql
DB_NAME=ctrg_grant_system
DB_USER=ctrg_app
DB_PASSWORD=replace-me
DB_HOST=127.0.0.1
DB_PORT=5432
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
SERVE_MEDIA=True
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com
